<% provide :title, t("sign_up") %>
<section>
  <div class="container">
    <h1 class="text-center"><%= t "sign_up" %></h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @user do |f| %>
          <%= render "shared/error_messages", object: @user %>
          <%= f.label :name, t(".name") %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :email, t(".email") %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.label :phone_number, t(".phone_number") %>
          <%= f.text_field :phone_number, class: "form-control" %>
          <%= f.label :address, t(".address") %>
          <%= f.text_field :address, class: "form-control" %>
          <%= f.label :password, t(".password") %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label :password_confirmation, t(".confirmation") %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <div class="courses-info">
            <%= f.submit t("sign_up"), class: "section-btn btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>